.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.2);
  /**/
  animation: modal-close 1s;

  cursor: default;
}

.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}

.modal>section {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 20rem;
  height: 100vh;
  border-radius: 8px 0 0 8px;
  background-color: #eee;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}

.modal>section>header {
  position: relative;
  padding: 0 3rem;
  height: 1.8rem;
}

.modal>section>header button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  color: rgb(17, 17, 17);
  background-color: transparent;
}

.modal>section>header button:hover {
  /* background-color: rgb(245, 245, 245);
  border-radius: 100%; */
  width: 40px;
  height: 40px;
}

.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}

/* */
.modal.openModal.close{
  /* display: flex;
  align-items: center; */
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-close 0.3s;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-right: -30rem;
  }

  to {
    opacity: 1;
    margin-right: 0;
  }
}

@keyframes modal-bg-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/**/
@keyframes modal-close {
  from {
    opacity: 1;
    margin-right: 0;
  }

  to {
    opacity: 0;
    margin-right: -30rem;
  }
}

@keyframes modal-bg-close {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}